@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}


.dashboard,
.debt,
.viewDebt {
  display: flex;
  padding-top: 10px;
  /* align-items: center; */
  justify-content: center;
  /* background-color: rgb(228, 230, 228); */
  color: #07143F;
  flex-flow: wrap;
}

.debt hr {
  width: 100%;
  border: none;
  margin-bottom: 10px;
}

.page-icon {
  margin-left: 1rem;
  font-size: 100px;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 960px) {

  .dashboard,
  .debt {
    font-size: 2.5rem;
  }

  .page-icon {
    margin-left: 1rem;
    font-size: 80px;
  }
}

/* input:focus {
  outline: none;
} */

/* forms */
form {
  /* background: #fff; */
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
}

input[type="radio"]:focus {
  outline: none;
  box-shadow: none;
}


/* form #description,#beginning_balance,#interest ,#budgeted_payment, #maturity_date, #minimum_payment{
  display: block;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid rgb(219, 219, 219);
  margin: 10px 0 20px 0;
  border-radius: 5px;
} */ */

/* 
form button {
  background: #4CAF50;
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  margin:20px 0 0 0;
} */

.debt_body {
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 50px;
}

/* drop-down */
/* .custom-select {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #555555;
  font-size: 14px;
  height: 40px;
  padding: 8px;
  width: 100%;
  margin-bottom:20px;
} */

/* .custom-select:focus {
  outline: none;
  box-shadow: 0 .5px .5px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(71, 157, 238, 0.6);
}

.custom-select option {
  background-color: #ffffff;
  color: #555555;
} */

/* CHARTS */

.recharts-wrapper {
  margin: top 20px;
}

/* MULTI SELECT */

.multi-select {
  background-color: lightblue;
  width: 500px
}

/* SUPABASE LOGIN AUTH */
.login-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.right-aligned {
  text-align: right;
}

/* .multi-select{
  width:100% !important;
} */